{{>layout/header}}

<head>
	<title>DevExpress WinForms Look &amp; Feel Technology for plaform jQuery, Online Survey Library Example</title>
	<script src="https://unpkg.com/jquery"></script>
	<link href="node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
	<script src="https://surveyjs.azureedge.net/1.0.11/survey.jquery.js"></script>
	<link href="https://surveyjs.azureedge.net/1.0.11/survey.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="css/index.css">

</head>

<body>



	<div class="container">


		<div id="surveyElement"></div>
		<div id="surveyResult"></div>

		<script type="text/javascript" src="js/index.js"></script>


	</div>
	<!-- /.container -->

	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
{{>layout/footer}}